.RockPriceDrag {
  background: rgba(0, 0, 0, 0.05);
  border: 1px dashed rgba(0, 0, 0, 0.2);
}
.RockPriceDrag table {
  display: none !important;
}
.RockPrice {
  overflow-x: auto;
}
.RockPrice input.rp-data {
  display: none !important;
}
.RockPrice table,
.RockPrice tbody,
.RockPrice tr,
.RockPrice td {
  padding: 0;
  margin: 0;
}
.RockPrice input {
  text-align: right;
}
.RockPrice input[disabled] {
  border: 1px transparent !important;
  background: transparent !important;
}
.RockPrice table {
  border-collapse: collapse;
  text-align: center;
}
.RockPrice table.header {
  font-size: 11px;
  text-transform: uppercase;
}
.RockPrice table.totals {
  margin-top: 5px;
  border-top: 1px solid #b1c3d4;
}
.RockPrice table .icon {
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  cursor: move;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.RockPrice table .tax {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}
.RockPrice table .vat {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
}
.RockPrice table .vat input {
  padding-right: 10px !important;
}
.RockPrice table .net,
.RockPrice table .gross {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
}
.RockPrice table .clone,
.RockPrice table .trash {
  padding: 0 10px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.RockPrice.nomultiline .icon {
  display: none !important;
}
.RockPrice.nomultiline .trash {
  display: none !important;
}
.RockPrice.nomultiline .clone {
  display: none !important;
}
.RockPrice.nomultiline .totals {
  display: none !important;
}
.RockPrice.single-line .totals {
  display: none;
}
.RockPrice.single-line .trash,
.RockPrice.single-line .icon {
  opacity: 0 !important;
  pointer-events: none;
}
