.InputfieldRockPrice .InputfieldContent {
  overflow-x: auto;
}
table.RockPrice {
  max-width: 600px;
  min-width: 400px;
  margin: 0 !important;
}
table.RockPrice td {
  padding: 0px;
  white-space: nowrap;
}
table.RockPrice .head td {
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
}
table.RockPrice input {
  text-align: right;
}
table.RockPrice .tax {
  width: 80px !important;
}
table.RockPrice .vat {
  width: 100px !important;
  text-align: center;
}
